.btn {
  padding: 8px 15px;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn--primary {
  background-color: #0285fe;
}

.btn--remove {
  background-color: #ef3d3b;
}
