.carousel-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  padding: 10px 5px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.carousel-mode-toggle {
  margin-left: 10px;
}
